.business_img {
    width: 100%;
}

.business_detail {
    margin: 0 0.14rem 0 0.19rem;
}

.business_name {
    height: 0.44rem;
    line-height: 0.44rem;
    color: #333;
    font-size: 0.15rem;
    font-weight: 500;
}

.bussiness_info {
    display: flex;
}

.logo {
    width: 0.94rem;
    height: 0.94rem;
    margin-right: 0.20rem;
}

.info {
    color: #333;
    font-size: 0.12rem;
    line-height: 0.23rem;
}

.pay {
    margin: 0.20rem auto 0;
    background: #C0A77E;
    color: #fff;
    border-radius: 0.16rem;
    height: 0.41rem;
    line-height: 0.41rem;
    text-align: center;
    width: 2.61rem;
    font-size: 0.14rem;
}

.slipping-area {
    position: relative;
    height: 1.62rem;
    margin-top: 0.42rem;
}

.slipping-imgbox {
    overflow-x: hidden;
    width: 9999rem;
}

.slipping-imgbox > img {
    height: 1.62rem;
    float: left;
}

/*点样式*/
.slipping-dot {
    position: absolute;
    bottom: 0.06rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

.slipping-dot > em > i {
    display: inline-block;
    width: 0.08rem;
    height: 0.08rem;
    background-clip: padding-box;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.04rem 0 0 -0.04rem;
}

.slipping-dot > em.active > i {
    background-color: #4C62D6;
}

.slipping-dot > em {
    display: inline-block;
    width: 0.14rem;
    height: 0.14rem;
    background-clip: padding-box;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 0.02rem;
}

.comment {
    padding: 0.27rem 0.26rem 0 0.13rem;
}