.enter_buy, .need_pay, .deduction, .cash_coupon {
    padding: 0.16rem 0 0.1rem 0;
    border-bottom: 1px solid #E3E3E3;
    font-size: 0.14rem;
    color: #333;
    height: 0.28rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0.13rem;
}

input {
    border: none;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    margin-left: 0;
}

.need_pay span, .deduction span, .cash_coupon span {
    padding-left: 5px;
}

.go_to_pay {
    width: 2.61rem;
    height: 0.41rem;
    line-height: 0.41rem;
    background: #C0A77E;
    border-radius: 0.21rem;
    color: #fff;
    text-align: center;
    font-size: 0.14rem;
    margin-top: 0.41rem;
}