html, body {
    width: 100%;
    height: 100%;
}

.outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}

.order_top {
    display: flex;
    justify-content: flex-start;
    height: 0.42rem;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
}

.order_top {
    font-size: 0.13rem;
    color: #333;
}

.order_top li {
    width: 0.76rem;
    text-align: center;
    display: inline-block;
    height: 0.42rem;
    line-height: 0.42rem;
    position: relative;
}

.order_top li.active {
    color: #C0A77E;
}

li.active:after {
    position: absolute;
    content: '';
    height: 0.03rem;
    border-radius: 0.02rem;
    background: #C0A77E;
    width: 0.36rem;
    bottom: 0;
    left: 50%;
    margin-left: -0.18rem;
}

/*列表占满下面的*/
.order_content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

/*列表占满下面的*/

.all_order_content, .unwritten_off_order_content, .write_off_order_content {
    /*height: 100%;*/
    position: absolute;
    width: 100%;
}
.unwritten_off_order_content {
    display: none;
}

.write_off_order_content {
    display: none;
}

/*@-webkit-keyframes mymove !*Safari and Chrome*!*/
/*{*/
    /*from {left:0px;}*/
    /*to {left:200px;}*/
/*}*/

.one_order {
    margin: 0.12rem 0.13rem;
}

.order_sub {
    height: 0.49rem;
    line-height: 0.49rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.12rem;
    font-weight: 400;
    border-bottom: 1px solid #d7d7d7;
}

.order_sub span:first-child {
    color: #C0A77E;
}

.order_sub span:last-child {
    color: #C90F15;
}

.order_info {
    display: flex;
    align-items: center;
    margin: 0.17rem 0;
    height: 0.72rem
}

.one_left {
    width: 0.72rem;
    height: 0.72rem;
    border-radius: 0.08rem;
    margin: 0 0.15rem 0 0.09rem;
}

.ont_right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.order_name {
    font-size: 0.14rem;
    font-weight: 500;
}

.order_price_num {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.12rem;
    font-weight: 400;
}

.order_sup {
    margin: 0.07rem 0 0 0.09rem;
    font-size: 0.12rem;
    font-weight: 400;
    color: #333;
}

.order_sup span {
    color: #C90F15;
}












